body{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.container{
    display: grid;
    grid-column: 2;
    grid-template-rows: repeat(3, 0.45fr);
    background-color: aliceblue;
    border: solid black 1px;
    box-shadow: 10px 10px rgb(216, 238, 245);

    border-radius: 10px;
    padding-bottom: 50px;
}

.container h1{
    display: grid;
    grid-row: 1;
    align-items: end;
    justify-content: center;  
}

.container form{
    margin-left: 200px;
}

.container #elso{
    grid-row: 2;
}
.container #masodik{
    grid-row: 3;
}
